.calendarContainer {
  margin-left: 25vw;
  width: 75vw;
}

.react-calendar {
    width: 100%;
}

/* Top of Calendar Navigation */
.react-calendar__navigation {
  width: 100%;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  height: 4vh;
}

.react-calendar__navigation__label {
  width: 70%!important;
}

.react-calendar__navigation button {
  background-color: #ebebeb;
  color: #000000;
  border: none;
  width: 7.5%;
  height: 100%;
  transition: background-color 0.3s;
}

.react-calendar__navigation button:hover {
  background-color: #bdbdbd;
  transition: background-color 0.3s;
}
/* Top of Calendar Navigation */

/* Calendar Day Tiles */
.react-calendar__month-view__days {
  height: 95vh;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  height: 3vh;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  padding: 0.5% 1%;
  justify-content: flex-start;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s;
}

.react-calendar__tile .calEvent {
  background-color: #007bff;
  padding: 5%;
  border: 2px solid black;
  border-radius: .5em;
  box-shadow: 
    0px 3px 3px -2px rgba(0, 0, 0, 0.5), 
    0px 3px 4px 0px rgba(0, 0, 0, 0.4), 
    0px 1px 8px 0px rgba(0, 0, 0, 0.3);
  transition: 
    background-color 0.3s, 
    box-shadow 0.2s;
}

.react-calendar__tile .calEvent:hover {
  background-color: #005ec2;
  box-shadow: 
      0px 1.5px 1.5px -1px rgba(0, 0, 0, 0.3), 
      0px 1.5px 2px 0px rgba(0, 0, 0, 0.2), 
      0px 0.5px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 
      background-color 0.3s, 
      box-shadow 0.2s;
}

.react-calendar__tile p {
  margin: 0;
}

.react-calendar__tile:hover {
  background-color: #a4afbe;
  transition: background-color 0.3s;
}

/* Calendar Overflow Day Tiles */
.react-calendar__month-view__days__day--neighboringMonth {
  background-color: #b6b5b5;
  transition: background-color 0.3s;
}

.react-calendar__month-view__days__day--neighboringMonth:hover {
  background-color: #777888;
  transition: background-color 0.3s;
}
/* Calendar Overflow Day Tiles */
/* Calendar Day Tiles */

/* Calendar Month View Tiles */ 
.react-calendar__year-view__months {
  height: 95vh;
}
/* Calendar Month View Tiles */ 

/* Calendar Month View Tiles */ 
.react-calendar__decade-view__years {
  height: 95vh;
}
/* Calendar Month View Tiles */ 

/* Calendar Month View Tiles */ 
.react-calendar__century-view__decades {
  height: 95vh;
}
/* Calendar Month View Tiles */ 

.event-indicator {
  top: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}