.eventLabel {
    background-color: #3498db; /* Background color for the event label */
    color: #fff; /* Text color */
    padding: 10px; /* Padding around the label */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 5px; /* Margin between labels if there are multiple */
  }