.selDate {
    margin-left: 3%;
    text-align: center;

    --date-font: 30px;
    --date-font-l: 60px;
    --date-font-s: 20px;
}

.month {
    font-size: var(--date-font-l);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color:#818181;
}

.year {
    font-size: var(--date-font);
}

.day {
    font-size: var(--date-font);
}

.weekday {
    font-size: var(--date-font-s);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color:#818181;
}  

.footer {
    background-color: aquamarine;
}